#Ignore compiler output
Debug/
Release/

#Ignore test folder
Pruebas/
PRUEBAS/

#Ignore language settings
.settings/language.settings.xml

#Ignore cproject
.cproject

#Ignore metadata
.metadata/

#Ignore personal .settings folder
.settings/
