name: C/C++ CI

on:
  push:
    branches: ["main", "development"]
  pull_request:
    branches: ["main", "development"]

jobs:
  build:
    strategy:
      matrix:
        build_type: [Debug, Release]
    runs-on: ubuntu-latest

    env:
      STLIB_PATH: "/opt/ST-LIB"

    steps:
      - uses: actions/checkout@v3
      - uses: carlosperate/arm-none-eabi-gcc-action@v1
      - run: arm-none-eabi-gcc --version
      - name: Install dependencies
        run: pip install GitPython colorama
      - name: Set up ST-LIB
        run: cp -r ../* /opt/
      - name: Display ST-LIB
        working-directory: /opt/ST-LIB/
        run: ls
      - name: Invoking python
        working-directory: /opt/ST-LIB/tools
        run: python3 build.py -eth ON -t NUCLEO -bb ${{matrix.build_type}} -sim OFF
